# Modelling

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../Data/cleaned_sentiment_scores.csv')
df.head()

,Unnamed: 0,time,avg_positive,avg_neutral,avg_negative,avg_compound,low,high,open,close,volume,price_difference
0,0,2018-12-31,0.138213,0.791725,0.070078,0.133069,3625.00,3835.40,3829.00,3691.86,12799.942626,NaN
1,1,2019-01-01,0.133899,0.801962,0.064177,0.131864,3651.02,3841.17,3691.87,3826.10,10812.884988,1.0
2,2,2019-01-02,0.124542,0.805365,0.070119,0.111221,3770.07,3916.57,3826.10,3890.79,9982.470846,1.0
3,3,2019-01-03,0.145012,0.785654,0.069367,0.141588,3758.07,3893.80,3890.80,3787.57,9327.647089,0.0
4,4,2019-01-04,0.124144,0.801732,0.074139,0.123028,3730.00,3849.00,3787.57,3820.82,9225.150500,1.0

In [4]:
df.dtypes

Unnamed: 0            int64
time                 object
avg_positive        float64
avg_neutral         float64
avg_negative        float64
avg_compound        float64
low                 float64
high                float64
open                float64
close               float64
volume              float64
price_difference    float64
dtype: object

In [6]:
df.describe()

,Unnamed: 0,avg_positive,avg_neutral,avg_negative,avg_compound,low,high,open,close,volume,price_difference
count,983.000000,957.000000,957.000000,957.000000,957.000000,983.000000,983.000000,983.000000,983.000000,983.000000,982.000000
mean,491.000000,0.127948,0.802997,0.069058,0.127243,17580.555178,18772.507701,18211.053072,18254.036246,16044.567591,0.543788
std,283.911958,0.007209,0.007802,0.005414,0.022305,15829.234843,17027.616695,16482.547245,16500.205792,12751.205877,0.498333
min,0.000000,0.105348,0.761980,0.052819,0.017491,3337.870000,3383.140000,3358.990000,3359.000000,2699.830014,0.000000
25%,245.500000,0.123245,0.797936,0.065355,0.113477,7665.870000,8121.095000,7932.350000,7936.285000,8099.773433,0.000000
50%,491.000000,0.127816,0.802990,0.068792,0.128634,9713.990000,10297.120000,10026.790000,10087.300000,12500.342956,1.000000
75%,736.500000,0.132360,0.808010,0.072577,0.142902,29097.500000,32354.580000,30848.970000,31122.005000,19448.438858,1.000000
max,982.000000,0.177963,0.835052,0.089819,0.188500,62036.730000,64899.000000,63588.220000,63588.220000,130316.646844,1.000000